<div class="container">

  <!-- ============================
       USUARIO
  ============================= -->
<section class="box">
  <h3>Usuario</h3>

  @if (user) {
    <select [(ngModel)]="selectedUserId" (change)="changeUser()">
      @for (u of users; track u._id.$oid) {
        <option [value]="u._id.$oid">
          {{ u.name }}
        </option>
      }
    </select>
    <p><strong>Teléfono:</strong> {{ user.phone }}</p>
    <p><strong>Status:</strong> {{ user.status }}</p>

    <img 
      [src]="user.profileImage" 
      width="70" 
      height="70"
      style="border-radius: 50%; margin-top: 5px;"
    >
  }
</section>

  <!-- ============================
       CONTACTOS
  ============================= -->
  <section class="box">
    <h3>
      Contactos
      <button (click)="addContact()">+</button>
    </h3>

    <ul>
      @for (c of filteredContacts(); track c.userId) {
        <li>
          <img [src]="c.profileImage" width="40" height="40">
          {{ c.alias }} – {{ c.phone }}
        </li>
      }
    </ul>
  </section>


  <!-- ============================
       ÁRBOL DE CONTACTOS
  ============================= -->
  <section class="box">
    <h3>Árbol de contactos</h3>

    <label>Filtrar por tipo:</label>
    <select [(ngModel)]="filterType">
      <option value="">Todos</option>
      <option value="familia">Familia</option>
      <option value="amistad">Amistad</option>
      <option value="trabajo">Trabajo</option>
    </select>

    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Persona / Empresa</th>
          <th>Relación</th>
        </tr>
      </thead>

      <tbody>
        @for (r of filteredRelations(); track $index) {
          <tr>
            <td>{{ r.type }}</td>
            <td>{{ getLabel(r) }}</td>
            <td>{{ r.relation }}</td>
          </tr>
        }
      </tbody>
    </table>

  </section>

</div>
